*.lo
*.la
*.o
.deps
.libs
.dirstamp
*.pc

Makefile
Makefile.in
autom4te.cache
config.log
config.status
libtool
src/git_sha1.h
src/mapi/glapi/gen/gl_XML.pyc
src/mapi/glapi/gen/static_data.pyc
src/mapi/glapi/gen/typeexpr.pyc
src/mesa/main/format_parser.pyc
src/mesa/main/get_hash_params.pyc

